:root{
    --rojo-opaco: #800000;
    --gris-opaco: #2e2e2d;
    --gris-claro: #d5d7d8;
    --verde-opaco: #006414;
    --blanco-mate: #F4F4F4;
}

/*==========TABLAS==========*/

.header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tabla-app {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: var(--blanco-mate);
    min-width: 600px; 
}

.tabla-app th, .tabla-app td {
    padding: 12px;
    border-bottom: 1px solid var(--gris-claro);
    text-align: center;
    color: var(--gris-opaco);
}

.tabla-app th {
    background-color: var(--gris-opaco);
    color: var(--blanco-mate);
}

.espacio-contenido {
    width: 100%;
    overflow-x: auto;
    margin-top: 15px;
}

/*Pantallas menores de 700px*/
@media (max-width: 700px) {
    .header-modal{font-size: 0.8rem;}

    .tabla-app th, .tabla-app td {
        padding: 8px 5px;
        font-size: 0.85rem;
    }

    .tabla-app td .btn-signin {
        display: block;
        width: 100%;
        margin: 4px 0;
        padding: 6px;
        font-size: 0.8rem;
    }
}